# AWS GLUE - JOB 1 (API -> CSV)
# =========================

GLUE_JOB_API_TO_CSV_ARN=
GLUE_JOB_API_TO_CSV_NAME=
GLUE_JOB_API_TO_CSV_SCRIPT_S3_URI=



# =========================
# GLUE ROLE
# =========================

GLUE_ROLE_ARN=
GLUE_ROLE_NAME=



# =========================
# S3 BUCKETS
# =========================

OUTPUT_BUCKET_ARN=
OUTPUT_BUCKET_NAME=

SCRIPTS_BUCKET_ARN=
SCRIPTS_BUCKET_NAME=
